In [101]:
#Import basic necessary datasets
import pandas as pd
import numpy as np

In [334]:
#Read the datasets and view the data
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sample = pd.read_csv('sample_submission.csv')

In [103]:
train.isnull().sum()

id                       0
gender                   0
age                      0
hypertension             0
heart_disease            0
ever_married             0
work_type                0
Residence_type           0
avg_glucose_level        0
bmi                   1462
smoking_status       13292
stroke                   0
dtype: int64

In [335]:
train['diabetes']=''
train.loc[(train.avg_glucose_level < 140), 'diabetes'] = 'normal'
train.loc[(train.avg_glucose_level >= 140) & (train.avg_glucose_level < 200), 'diabetes'] = 'prediabetes'
train.loc[(train.avg_glucose_level >= 200), 'diabetes'] = 'diabetic'
train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,diabetes
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0,normal
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0,normal
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0,normal
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0,normal
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0,prediabetes

In [336]:
test['diabetes']=''
test.loc[(test.avg_glucose_level < 140), 'diabetes'] = 'normal'
test.loc[(test.avg_glucose_level >= 140) & (test.avg_glucose_level < 200), 'diabetes'] = 'prediabetes'
test.loc[(test.avg_glucose_level >= 200), 'diabetes'] = 'diabetic'
test.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,diabetes
0,36306,Male,80.0,0,0,Yes,Private,Urban,83.84,21.1,formerly smoked,normal
1,61829,Female,74.0,0,1,Yes,Self-employed,Rural,179.50,26.0,formerly smoked,prediabetes
2,14152,Female,14.0,0,0,No,children,Rural,95.16,21.2,NaN,normal
3,12997,Male,28.0,0,0,No,Private,Urban,94.76,23.4,NaN,normal
4,40801,Female,63.0,0,0,Yes,Govt_job,Rural,83.57,27.6,never smoked,normal

In [325]:
train.diabetes.unique()
test.diabetes.unique()

array(['normal', 'prediabetes', 'diabetic'], dtype=object)

array(['normal', 'prediabetes', 'diabetic'], dtype=object)

In [337]:
#filling null values
train.bmi.fillna(value=0, axis=0, inplace=True)
test.bmi.fillna(value=0, axis=0, inplace=True)

train.smoking_status.fillna(value='no information', axis=0, inplace=True)
test.smoking_status.fillna(value='no information', axis=0, inplace=True)

In [338]:
train['weight'] = ''
train.loc[(train.bmi < 18.5), 'weight'] = 'underweight'
train.loc[(train.bmi >= 18.5) & (train.bmi <= 24.9), 'weight'] = 'healthy'
train.loc[(train.bmi >= 25) & (train.bmi <= 29.9), 'weight'] = 'overweight'
train.loc[(train.bmi >= 30), 'weight'] = 'obese'
train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,diabetes,weight
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,no information,0,normal,underweight
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0,normal,obese
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,no information,0,normal,underweight
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0,normal,obese
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,no information,0,prediabetes,healthy

In [339]:
test['weight'] = ''
test.loc[(test.bmi < 18.5), 'weight'] = 'underweight'
test.loc[(test.bmi >= 18.5) & (test.bmi <= 24.9), 'weight'] = 'healthy'
test.loc[(test.bmi >= 25) & (test.bmi <= 29.9), 'weight'] = 'overweight'
test.loc[(test.bmi >= 30), 'weight'] = 'obese'
test.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,diabetes,weight
0,36306,Male,80.0,0,0,Yes,Private,Urban,83.84,21.1,formerly smoked,normal,healthy
1,61829,Female,74.0,0,1,Yes,Self-employed,Rural,179.50,26.0,formerly smoked,prediabetes,overweight
2,14152,Female,14.0,0,0,No,children,Rural,95.16,21.2,no information,normal,healthy
3,12997,Male,28.0,0,0,No,Private,Urban,94.76,23.4,no information,normal,healthy
4,40801,Female,63.0,0,0,Yes,Govt_job,Rural,83.57,27.6,never smoked,normal,overweight

In [329]:
train.weight.unique()
test.weight.unique()

array(['underweight', 'obese', 'healthy', 'overweight'], dtype=object)

array(['healthy', 'overweight', 'obese', 'underweight'], dtype=object)

In [340]:
#grouping the data
train.age = np.digitize(train.age, bins=np.arange(start=train.age.min(),stop=train.age.max(),step=10))
test.age = np.digitize(test.age, bins=np.arange(start=test.age.min(),stop=test.age.max(),step=10))

train.avg_glucose_level = np.digitize(train.avg_glucose_level, bins=np.arange(start=train.avg_glucose_level.min(),stop=train.avg_glucose_level.max(),step=50))
test.avg_glucose_level = np.digitize(test.avg_glucose_level, bins=np.arange(start=test.avg_glucose_level.min(),stop=test.avg_glucose_level.max(),step=50))

train.bmi = np.digitize(train.bmi, bins=np.arange(start=train.bmi.min(),stop=train.bmi.max(),step=10))
test.bmi = np.digitize(test.bmi, bins=np.arange(start=test.bmi.min(),stop=test.bmi.max(),step=10))

In [101]:
train.bmi.value_counts()

3     20993
4     12696
2      4930
5      2732
1      1462
6       497
7        73
8         8
9         6
10        3
Name: bmi, dtype: int64

In [341]:
train.bmi[train.bmi.isin([7,8,9,10])] = 6
test.bmi[test.bmi.isin([7,8,9,10])] = 6

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [342]:
#drop id column
train.drop(columns=['id'], inplace=True)
test.drop(columns=['id'], inplace=True)

In [343]:
#get dummy variables
train = pd.get_dummies(train, columns=['gender','ever_married','work_type','Residence_type','smoking_status','weight','diabetes'],drop_first=True)
test = pd.get_dummies(test, columns=['gender','ever_married','work_type','Residence_type','smoking_status','weight','diabetes'],drop_first=True)

In [344]:
train.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Male,gender_Other,ever_married_Yes,work_type_Never_worked,...,work_type_children,Residence_type_Urban,smoking_status_never smoked,smoking_status_no information,smoking_status_smokes,weight_obese,weight_overweight,weight_underweight,diabetes_normal,diabetes_prediabetes
0,1,0,0,1,2,0,1,0,0,0,...,1,0,0,1,0,0,0,1,1,0
1,6,1,0,1,4,0,1,0,1,0,...,0,1,1,0,0,1,0,0,1,0
2,1,0,0,2,2,0,0,0,0,0,...,0,1,0,1,0,0,0,1,1,0
3,7,0,0,1,4,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
4,2,0,0,3,2,0,1,0,0,1,...,0,0,0,1,0,0,0,0,0,1

In [345]:
train.columns

Index(['age', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi',
       'stroke', 'gender_Male', 'gender_Other', 'ever_married_Yes',
       'work_type_Never_worked', 'work_type_Private',
       'work_type_Self-employed', 'work_type_children', 'Residence_type_Urban',
       'smoking_status_never smoked', 'smoking_status_no information',
       'smoking_status_smokes', 'weight_obese', 'weight_overweight',
       'weight_underweight', 'diabetes_normal', 'diabetes_prediabetes'],
      dtype='object')

In [346]:
#Take independent features into x and depenent feature into y
X = train.drop('stroke',axis=1)
y = train.stroke

In [246]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
X_scaled = std.fit_transform(X)

In [347]:
#train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=123)
X_train = np.array(X_train)
X_test = np.array(X_test)

In [348]:
#import keras libraries
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from keras.models import Sequential
from keras.layers import Dense
from keras import optimizers

In [353]:
#build a classifier function
def build_classifier():
    classifier = Sequential()  # initiate the model
    classifier.add(Dense(60, input_shape=(21,), activation='relu')) # input layer
    classifier.add(Dense(120, activation='relu'))                  # hidden layer
    classifier.add(Dense(80, activation='relu'))                  # hidden layer
    classifier.add(Dense(50, activation='relu'))                  # hidden layer
    classifier.add(Dense(1, activation = 'sigmoid')) #output layer
    #rmsprop = optimizers.RMSprop()
    classifier.compile(loss = 'binary_crossentropy', optimizer = 'Adam', metrics = ['accuracy'])
    return classifier

In [354]:
#create a KerasClassifier object and call build_classifier function
classifier = KerasClassifier(build_fn=build_classifier, batch_size=1000, nb_epoch=20, verbose=2)

In [351]:
from IPython.core.interactiveshell import InteractiveShell #To print multiple outputs
InteractiveShell.ast_node_interactivity = 'all'

In [355]:
accuracies = cross_val_score(classifier, X_train, y_train, cv=10)

Epoch 1/10
 - 11s - loss: 0.2475 - acc: 0.9199
Epoch 2/10
 - 0s - loss: 0.0959 - acc: 0.9821
Epoch 3/10
 - 0s - loss: 0.0777 - acc: 0.9821
Epoch 4/10
 - 0s - loss: 0.0753 - acc: 0.9821
Epoch 5/10
 - 0s - loss: 0.0746 - acc: 0.9821
Epoch 6/10
 - 0s - loss: 0.0739 - acc: 0.9821
Epoch 7/10
 - 0s - loss: 0.0736 - acc: 0.9821
Epoch 8/10
 - 0s - loss: 0.0734 - acc: 0.9821
Epoch 9/10
 - 0s - loss: 0.0731 - acc: 0.9821
Epoch 10/10
 - 0s - loss: 0.0732 - acc: 0.9821
Epoch 1/10
 - 9s - loss: 0.1944 - acc: 0.9598
Epoch 2/10
 - 0s - loss: 0.0955 - acc: 0.9821
Epoch 3/10
 - 0s - loss: 0.0779 - acc: 0.9821
Epoch 4/10
 - 0s - loss: 0.0749 - acc: 0.9821
Epoch 5/10
 - 0s - loss: 0.0739 - acc: 0.9821
Epoch 6/10
 - 0s - loss: 0.0735 - acc: 0.9821
Epoch 7/10
 - 0s - loss: 0.0733 - acc: 0.9821
Epoch 8/10
 - 0s - loss: 0.0730 - acc: 0.9821
Epoch 9/10
 - 0s - loss: 0.0729 - acc: 0.9821
Epoch 10/10
 - 0s - loss: 0.0724 - acc: 0.9821
Epoch 1/10
 - 8s - loss: 0.1901 - acc: 0.9807
Epoch 2/10
 - 0s - loss: 0.0888 - acc: 0.9819
Epoch 3/10
 - 0s - loss: 0.0785 - acc: 0.9819
Epoch 4/10
 - 0s - loss: 0.0757 - acc: 0.9819
Epoch 5/10
 - 0s - loss: 0.0749 - acc: 0.9819
Epoch 6/10
 - 0s - loss: 0.0745 - acc: 0.9819
Epoch 7/10
 - 0s - loss: 0.0744 - acc: 0.9819
Epoch 8/10
 - 0s - loss: 0.0743 - acc: 0.9819
Epoch 9/10
 - 0s - loss: 0.0740 - acc: 0.9819
Epoch 10/10
 - 0s - loss: 0.0732 - acc: 0.9819
Epoch 1/10
 - 11s - loss: 0.2319 - acc: 0.9224
Epoch 2/10
 - 0s - loss: 0.0922 - acc: 0.9821
Epoch 3/10
 - 0s - loss: 0.0787 - acc: 0.9821
Epoch 4/10
 - 0s - loss: 0.0759 - acc: 0.9821
Epoch 5/10
 - 0s - loss: 0.0753 - acc: 0.9821
Epoch 6/10
 - 0s - loss: 0.0744 - acc: 0.9821
Epoch 7/10
 - 0s - loss: 0.0738 - acc: 0.9821
Epoch 8/10
 - 0s - loss: 0.0737 - acc: 0.9821
Epoch 9/10
 - 0s - loss: 0.0734 - acc: 0.9821
Epoch 10/10
 - 0s - loss: 0.0735 - acc: 0.9821
Epoch 1/10
 - 9s - loss: 0.2372 - acc: 0.9250
Epoch 2/10
 - 0s - loss: 0.0968 - acc: 0.9821
Epoch 3/10
 - 0s - loss: 0.0784 - acc: 0.9821
Epoch 4/10
 - 0s - loss: 0.0753 - acc: 0.9821
Epoch 5/10
 - 1s - loss: 0.0741 - acc: 0.9821
Epoch 6/10
 - 1s - loss: 0.0734 - acc: 0.9821
Epoch 7/10
 - 0s - loss: 0.0733 - acc: 0.9821
Epoch 8/10
 - 0s - loss: 0.0725 - acc: 0.9821
Epoch 9/10
 - 0s - loss: 0.0724 - acc: 0.9821
Epoch 10/10
 - 0s - loss: 0.0723 - acc: 0.9821
Epoch 1/10
 - 13s - loss: 0.1828 - acc: 0.9803
Epoch 2/10
 - 0s - loss: 0.0880 - acc: 0.9823
Epoch 3/10
 - 0s - loss: 0.0764 - acc: 0.9823
Epoch 4/10
 - 0s - loss: 0.0745 - acc: 0.9823
Epoch 5/10
 - 0s - loss: 0.0743 - acc: 0.9823
Epoch 6/10
 - 0s - loss: 0.0736 - acc: 0.9823
Epoch 7/10
 - 0s - loss: 0.0733 - acc: 0.9823
Epoch 8/10
 - 0s - loss: 0.0730 - acc: 0.9823
Epoch 9/10
 - 0s - loss: 0.0728 - acc: 0.9823
Epoch 10/10
 - 0s - loss: 0.0725 - acc: 0.9823
Epoch 1/10
 - 9s - loss: 0.1328 - acc: 0.9822
Epoch 2/10
 - 0s - loss: 0.0791 - acc: 0.9822
Epoch 3/10
 - 0s - loss: 0.0753 - acc: 0.9822
Epoch 4/10
 - 0s - loss: 0.0746 - acc: 0.9822
Epoch 5/10
 - 0s - loss: 0.0741 - acc: 0.9822
Epoch 6/10
 - 0s - loss: 0.0735 - acc: 0.9822
Epoch 7/10
 - 0s - loss: 0.0732 - acc: 0.9822
Epoch 8/10
 - 0s - loss: 0.0731 - acc: 0.9822
Epoch 9/10
 - 0s - loss: 0.0724 - acc: 0.9822
Epoch 10/10
 - 0s - loss: 0.0723 - acc: 0.9822
Epoch 1/10
 - 9s - loss: 0.2680 - acc: 0.8906
Epoch 2/10
 - 0s - loss: 0.0977 - acc: 0.9821
Epoch 3/10
 - 0s - loss: 0.0783 - acc: 0.9821
Epoch 4/10
 - 0s - loss: 0.0752 - acc: 0.9821
Epoch 5/10
 - 0s - loss: 0.0748 - acc: 0.9821
Epoch 6/10
 - 0s - loss: 0.0741 - acc: 0.9821
Epoch 7/10
 - 0s - loss: 0.0738 - acc: 0.9821
Epoch 8/10
 - 0s - loss: 0.0735 - acc: 0.9821
Epoch 9/10
 - 0s - loss: 0.0733 - acc: 0.9821
Epoch 10/10
 - 0s - loss: 0.0729 - acc: 0.9821
Epoch 1/10
 - 9s - loss: 0.1789 - acc: 0.9819
Epoch 2/10
 - 0s - loss: 0.0825 - acc: 0.9819
Epoch 3/10
 - 0s - loss: 0.0770 - acc: 0.9819
Epoch 4/10
 - 0s - loss: 0.0756 - acc: 0.9819
Epoch 5/10
 - 0s - loss: 0.0751 - acc: 0.9819
Epoch 6/10
 - 0s - loss: 0.0743 - acc: 0.9819
Epoch 7/10
 - 0s - loss: 0.0743 - acc: 0.9819
Epoch 8/10
 - 0s - loss: 0.0738 - acc: 0.9819
Epoch 9/10
 - 0s - loss: 0.0736 - acc: 0.9819
Epoch 10/10
 - 0s - loss: 0.0734 - acc: 0.9819
Epoch 1/10
 - 10s - loss: 0.2551 - acc: 0.9195
Epoch 2/10
 - 0s - loss: 0.0900 - acc: 0.9823
Epoch 3/10
 - 0s - loss: 0.0764 - acc: 0.9823
Epoch 4/10
 - 0s - loss: 0.0745 - acc: 0.9823
Epoch 5/10
 - 0s - loss: 0.0737 - acc: 0.9823
Epoch 6/10
 - 0s - loss: 0.0732 - acc: 0.9823
Epoch 7/10
 - 0s - loss: 0.0724 - acc: 0.9823
Epoch 8/10
 - 0s - loss: 0.0721 - acc: 0.9823
Epoch 9/10
 - 0s - loss: 0.0720 - acc: 0.9823
Epoch 10/10
 - 0s - loss: 0.0718 - acc: 0.9823

In [356]:
accuracies.mean()
accuracies.std()

0.98211405593129353

0.0012113863358717109

In [357]:
classifier.fit(X_train, y_train)

Epoch 1/10
 - 9s - loss: 0.2130 - acc: 0.9417
Epoch 2/10
 - 0s - loss: 0.0832 - acc: 0.9821
Epoch 3/10
 - 0s - loss: 0.0761 - acc: 0.9821
Epoch 4/10
 - 0s - loss: 0.0748 - acc: 0.9821
Epoch 5/10
 - 0s - loss: 0.0744 - acc: 0.9821
Epoch 6/10
 - 0s - loss: 0.0738 - acc: 0.9821
Epoch 7/10
 - 0s - loss: 0.0733 - acc: 0.9821
Epoch 8/10
 - 0s - loss: 0.0734 - acc: 0.9821
Epoch 9/10
 - 0s - loss: 0.0729 - acc: 0.9821
Epoch 10/10
 - 0s - loss: 0.0726 - acc: 0.9821

In [358]:
from sklearn import metrics
y_pred = classifier.predict_proba(X_test)
metrics.roc_auc_score(y_test,y_pred[:,1])

0.84593917310908773

In [359]:
test_pred = classifier.predict_proba(np.array(test))
test_pred.max()

0.99999994

In [360]:
sample['stroke'] = test_pred[:,1]
sample.to_csv('sample_submission.csv',index=False)
sample.head()

      id    stroke
0  36306  0.075282
1  61829  0.084545
2  14152  0.000272
3  12997  0.000651
4  40801  0.017336

In [361]:
sample.stroke.min()
sample.stroke.max()

4.1780297e-08

0.23192565